
/Source/EntityWorker.Core/.vs
/Source/EntityWorker.Core/bin
/Source/EntityWorker.Core/obj


/Source/EntityWorker.Core.test/.vs
/Source/EntityWorker.Core.test/ConsoleApp/bin
/Source/EntityWorker.Core.test/ConsoleApp/obj


/Source/EntityWorker.Core.test/ConsoleApp.Core/bin
/Source/EntityWorker.Core.test/ConsoleApp.Core/obj

/Source/EntityWorker.Core.test/LightData.CMS.Modules/bin
/Source/EntityWorker.Core.test/LightData.CMS.Modules/obj

/Source/EntityWorker.Core.test/packages

/EntityWorker.Core/Solution/.vs
/EntityWorker.Core/Solution/packages